<!--Row-1-->

<!-- Page Content -->
</div>
    <div class="banner purple">
        <div class="container">

        <div class="row sm-flex-vertical">
            <div class="col-sm-6 col-sm-push-6 col-md-7 col-md-push-5 ">
                <a id="" class="video-cover" href="{{helpers.watch-video}}" data-toggle="lightbox">
                    <img class="video-cover" src="{{site.src}}video-cover.jpg">
                </a>

            </div>
            <div class="col-sm-6 col-md-5 col-sm-pull-6 col-md-pull-7">
                <div class="inner">


                <h2>#MYJENNYMOMENT</h2>
                <p class="sub-h3">Jess reveals the moment that made her realise she needed to lose weight and how she went on to lose over 39 kilos. Hear how she lost her weight and follow others at #myjennymoment</p>
                <a id="watch-video" class="cta cta-block cta-purple" href="{{helpers.watch-video}}" data-toggle="lightbox">Watch the video</a>

                </div>
            </div>


        </div>

        </div>
    </div>
<div class="container">
<!-- /.container -->
