
<footer>
<div class="container">

    <div  class="row footer-social--links">
        <div class="col-md-6 col-md-offset-3">
                <h4>
                    Connect with us
                </h4>
                <div class="row footer-social--links">
                    <span class="social-icon"><a class="social-icon--facebook" target="_blank" href="https://www.facebook.com/jennycraigausnz?sk=wall"></a></span>
                    <span class="social-icon"><a class="social-icon--instgram" target="_blank" href="http://instagram.com/jennycraigausnz"></a></span>
                    <span class="social-icon"><a class="social-icon--youtube" target="_blank" href="https://www.youtube.com/user/jennycraigausnz"></a></span>
                    <span class="social-icon"><a class="social-icon--twitter" target="_blank" href="https://twitter.com/jennycraigausnz"></a></span>
                    <span class="social-icon"><a class="social-icon--blog" target="_blank" href="https://twitter.com/jennycraigausnz">BLOG</a></span>
                </div>
        </div>
    </div>

    {{>footer-d}}
    {{>footer-m}}
    

    <div class="row ">
        <div class="col-md-12 footer-legal">
            <p>
                <a href="http://www.jennycraig.com.au/">Copyright © Jenny Craig Pty Ltd</a>    |   <a href="http://www.jennycraig.com.au/web-privacy">Privacy Policy</a>   |   <a href="http://www.jennycraig.com.au/acceptable-use-policy">Acceptable use policy</a>   |   <a href="http://www.jennycraig.com.au/sitemap">Sitemap</a>
            </p>
            <br>
            <p>
                Copyright © 2015 Jenny Craig. *Offer ends 4 July, 2015. For full offer details please visit our terms and conditions. ~Food not included in program price. Program payment must be paid in full up front. ^Clients who have a weekly consultation lose on average up to 42% more weight than those who attend 9 or less consultations over a 12 week period. **Members following our program, on average, lose 0.5-1kg per week. †You and your friend receive 50% of the program fee when you sign up for one of our full programs at the same time. Offer excludes cost of food. ‡Rock CL, Flatt SW, Karanja N, et al. JAMA. Oct 2010, Col 304, No. 16. Client following 7 days of Jenny's Craig®.
            </p>
        </div>
    </div>





</div>
</footer>
<button class="navbar-toggle" id="close-menu" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></button>