<section id="navbar" role="banner" class="navbar  header--main">
    <div class="container">
        <nav class="navbar-header">
            <ul id="logo_area" class="left">
                <li>
                    <a class="logo navbar-btn pull-left" href="/" title="Home">
                        <img src="http://prodcdn-large.jennycraig.com.au/sites/default/files/logo.png" alt="Jenny Craig Australia">
                    </a>
                </li>
                <li>
                    <a class="phone-cta navbar-btn pull-left" href="/" title="Home">
                        <img src="http://www.jennycraig.com.au/sites/all/themes/jnc_style/images/icon-phone--blue.png" alt="Call Jenny Craig Australia">
                        <span class="phone-cta">1300&nbsp;453&nbsp;669</span>
                    </a>
                </li>
            </ul>

            <ul id="desktop-nav-1" class="right desktop-nav-menu">
                <li>
                    <a class="navbar-btn pull-left" href="/" title="Home">
                        About us
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="navbar-btn pull-left" href="/" title="Home">
                        FAQ
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="navbar-btn pull-left" href="/" title="Home">
                        Read Our Blog
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="navbar-btn pull-left" href="/" title="Home">
                        Contact Us
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</section>
<section id="sub-navbar" role="banner" class="navbar navbar-sub  header--main">
    <div class="container">
        <nav class="navbar-sub-header">

            <ul id="desktop-nav-2" class="desktop-nav-menu-sub">
                <li>
                    <a class="navbar-btn " href="/" title="Home">
                        How our program works
                    </a>
                    <a class="navbar-btn " href="/" title="Home">
                        Meals and Nutrition
                    </a>
                    <a class="navbar-btn" href="/" title="Home">
                        Find your local centre
                    </a>
                    <a class="navbar-btn" href="/" title="Home">
                        Start today&nbsp;>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</section>