<!--Hero-->

<div class="row jenny-hero inner" style=" background-image: url('{{site.src}}hero2.jpg')">
    <div class="circle" style="position: absolute">
        Join now and get
        <span class="h1">50% OFF</span>
        <span class="h2">All programs*</span>


    </div>
    <div class="row ">
        <div class="col-sm-6  col-sm-offset-6 col-md-4  col-md-offset-8">
            <p class="smaller italic">Jenny Craig clients can</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  col-sm-offset-6 col-md-4  col-md-offset-8">
            <h1>Lose 3x</h1>
            <h2> More weight than dieting alone</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  col-sm-offset-6 col-md-4  col-md-offset-8 hack-190">
            <a class="cta cta-block cta-orange" href="{{helpers.get-started}}">Get started</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  col-sm-offset-6 col-md-4  col-md-offset-8">

            <a class="cta cta-block cta-purple-jenny cta-sm" href="{{helpers.deliver}}">We also deliver - Find out more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  col-sm-offset-6 col-md-4  col-md-offset-8">
            <a class="sub-cta" href="{{helpers.not-ready-yet}}"> Book your free consultation ></a>
        </div>
    </div>
</div>