<!--Off canvas menu mobile    -->
<div class="navmenu navmenu-default navmenu-fixed-right offcanvas">

    <ul class="nav navmenu-nav">
        {{#each helpers.menu-1}}

        <li><a class="list-menu-item" href="{{link}}">{{title}} <span class="fui-arrow-right" aria-hidden="true"></span></a></li>

        {{/each}}

    </ul>
    <hr>
    <ul class="nav navmenu-nav">
        {{#each helpers.menu-2}}

            <li><a class="list-menu-item" href="{{link}}">{{title}} <span class="fui-arrow-right" aria-hidden="true"></span></a></li>

        {{/each}}


    </ul>
</div>
<!--Off canvas menu mobile  END  -->