<!--Row-1-->

<!-- Page Content -->

    <div class="row">
        <div class="col-md-12">
            <h2>How does it work?</h2>
        </div>
    </div>
    <div id="how-it-work" class="row">
        <div class="col-sm-4 col-md-4">
            <img src="{{site.src}}comsultation.jpg">
            <span class="step">1</span>
            <h3>Book an initial consultation</h3>
            <p class="sub-h3">We have 104 centres across Australia and New Zealand</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="{{site.src}}beef.jpg">
            <span class="step">2</span>
            <h3>Begin the program</h3>
            <p class="sub-h3">Enjoy a healthy, balanced diet. Lose weight sustainably exercise</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="{{site.src}}scale2.jpg">
            <span class="step">3</span>
            <h3>Start reaching your target weight</h3>
            <p class="sub-h3">Weekly check-in with your consultant</p>
        </div>
    </div>

<!-- /.container -->
