<!--Row-1-->

<!-- Page Content -->

    <div class="row">
        <div class="col-md-12">
            <h2>Jenny Craig changes lives</h2>


        </div>
    </div>
    <div class="row" style="    margin-bottom: 30px;">
        <div class="col-md-10 col-md-offset-1">
            <p class=" italic">Jenny will teach you healthy habits around the <strong>3 key success factors: <br></strong>
            food, body and mind, to help you lose weight and keep it off!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <img src="{{site.src}}quinoa.jpg">

            <p>A healthy relashionship with food</p>
        </div>
        <div class="col-sm-4 col-md-4 plus-logo">
            <img src="{{site.src}}scale2.jpg">

            <p>An active lifestyle</p>
        </div>
        <div class="col-sm-4 col-md-4 plus-logo">
            <img src="{{site.src}}scale.jpg">

            <p>A balance approach to living</p>
        </div>
    </div>

<!-- /.container -->
