<!--Row-1-->

<!-- Page Content -->

    <div class="row">
        <div class="col-md-12">
            <h2>What Do I Eat?</h2>
        </div>
    </div>
    <div id="what-do-i-eat" class="row">
        <div class="col-sm-5 col-md-5 a">
            <h3>Never go hungry</h3>
            <p class="sub-h3">You’ll be enjoying 3 Jenny Craig meals and 2 snacks every day with over 60 menu options to chose from including 9 new items!</p>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7">
            <img src="{{site.src}}spanish-chicken.jpg">

        </div>



        <div class="col-xs-6 col-sm-7 col-md-7">
            <img src="{{site.src}}Nut-bar.jpg">

        </div>
        <div class="col-sm-5 col-md-5 b">
            <h3>Lose weight whilst enjoying
                your favourite meals</h3>
            <p class="sub-h3">With a Jenny Craig planned menu, you don’t have to worry about overeating. Each meal is perfectly positioned to help keep you satisfied while you slim down. Even your old favourites such as lasagna is on the menu.</p>
        </div>
    </div>
    <div class="row spacer-50" style="height: 50px">
        <!--Spacer-->
    </div>
<!-- /.container -->
