.jenny-hero{
  position: relative;
  height: 410px;
  background-size: cover;
  background-position: bottom left;
  .row{
    margin:0;
  }

  h1{
    text-align: center;
    font-size: 78px;
    font-weight: 900;
    line-height: 1;
    margin-top: 0;
    -webkit-font-smoothing: auto;

  }
  h2{
    font-size: 30px;
    margin-top: -10px;
    font-weight: 900;
    margin-bottom: 30px;
    -webkit-font-smoothing: auto;

  }
  p{
    margin: 10px 0 0;

  }
  .sub-cta{
    color: $Jenny_blue;
    -webkit-font-smoothing: auto;
    margin-top: -5px;
    font-weight: 600;
  }
  .cta {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .col-md-4.col-md-offset-8 {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px)   {
  .col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-8 {
    background-color: rgba(255, 252, 245, 0.78);
    padding: 0px 13px;
  }

}
@media  (max-width: 767px)   {
  .jenny-hero {
    height: 530px;
    background-size: auto 70%;
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-color: #FBFBFB;
    margin-bottom: 70px;
    .cta{
    max-width: 320px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  }
  .hack-190{
    margin-top: 235px;

  }
}
@media  (max-width: 588px)   {
  .jenny-hero {
    height: 530px;
    background-size: auto 70%;
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-color: #FBFBFB;
    margin-bottom: 70px;
    .cta{
      max-width: 320px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .hack-190{
    margin-top: 190px;
  }
}

.circle {
  position: absolute;
  bottom: 25px;
  left: 25px;

  background-color: rgba(173, 72, 146, 0.69);
  height: 170px;
  width: 170px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
  color: white;
  @media (max-width: 767px) {
    bottom: 15%;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
  }

  span.h1,
  span.h2{
    @include jenny-bold;
    color: white;
    margin: 5px auto;
    line-height: 1;
    display: block;
    text-transform: uppercase;
  }
  span.h1{
    font-size: 29px;
    line-height: 1;
    display: block;
    margin: 5px auto;
  }
  span.h2{
    font-size: 14px;
  }
}