//Settings
$Jenny_blue: #007fcc;
$Jenny_drk_blue: #0073ba;
$Jenny_teal: #47bccc;
$Jenny_purple: #ad4892;
@mixin jenny-bold() {
  font-family: "brandon-grotesque" , Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}
//https://gist.github.com/benfrain/7545629
// Add percentage of white to a color
@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}


// override Bootstrap variables here
$icon-font-path: '../fonts/flat-ui/';



@import "flat-ui/variables";
// bower:scss
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "flat-ui";

@import "lightbox";

@import "typography";
@import "settings";
@import "theme";
@import "header";
@import "footer";
@import "links";
@import "hero";
@import "rows";

// Application Styles here
